
<%- include('../../Errors') %>

<form class="form-horizontal" method="POST" action="/Authentication/Password/Recovery">
    <input type="hidden" name="Token" value="<%= Token %>">
    <input type="email" name="Email" id="Email" placeholder="Email">
    <input type="password" name="Password" id="Password" placeholder="Password">
    <%- Recaptcha %>
    <button type="submit">Save</button>
</form>
