
<%- include(ViewPath('Errors')) %>

<form class="form-horizontal" method="POST" action="/Authentication/Reset/Password">
    <input type="email" name="Email" id="Email" placeholder="Email">
    <%- Recaptcha %>
    <button type="submit">Continue</button>
</form>
 