<h3>Account Information</h3>

<ul>
    <li><%= Request.user.Name %></li>
    <li><%= Request.user.Email %></li>
    <% if (Request.user.IsVip()) { %>
        <li><%= GetDate(Request.user.VipTime).fromNow() %></li>
    <% } else { %>
        <li>Your account is not a VIP</li>
    <% } %>
</ul>