<h3>Vip</h3>

<form action="/Account/Vip/Payment" method="POST">
    <select name="Plan" id="Plan">
        <option value="1">1 Month 3.99$</option>
        <option value="3">3 Month 5.99$</option>
        <option value="12">12 Month 24.99$</option>
    </select>

    <button type="submit">Submit</button>
</form>